.home-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.home-footer{
    position: fixed;
    bottom: 8px;
    left: 4px;
    right: 8px;
}